- var ehanlin = "https://www.ehanlin.com.tw"
doctype html
html(lang="zh-tw")
    head
        meta(charset="UTF-8")
        title 學測總複習課程優惠方案
        link(rel="stylesheet" type="text/css" href="./css/index.css")
    body
        header
            a.logo(href=ehanlin+"/index.html")
            span.tel 課程諮詢
                a(href="tel:0800008811")
                    i(class="fa fa-phone" aria-hidden="true")
                    | 0800-008811
            span.icons
                a.facebook(target="_blank" href="https://www.facebook.com/ehanlin.com.tw")
                a.line(target="_blank" href="http://line.me/R/ti/p/MtsRQz_Hn5")
        nav
            each site in ["banner", "teachers", "contents", "prices"]
                a(href="#"+site)
        section#banner: img(src="./img/section_1.png")/
        //section: img(src="./img/section_2.png")/
        section
            img(src="./img/section_3.png")/
            ul.benefits
                each num in [1, 2, 3, 4]
                    li.card
                        img.front(src="./img/benefit/benefit_"+num+"_f.png")/
                        img.back(src="./img/benefit/benefit_"+num+"_b.png")/
        section
            img(src="./img/section_4.png")/
            ul.advantages
                each num in [1, 2, 3, 4, 5]
                    li.card
                        img.front(src="./img/advantage/advantage_"+num+"_f.png")/
                        img.back(src="./img/advantage/advantage_"+num+"_b.png")/
        section#teachers
            img(src="./img/section_5.png")/
            - var teacherNums = [9, 5, 2, 7, 8, 3, 1, 4, 6, 10]
            ul.teachers
                each num in teacherNums
                    li: span: img(src="./img/teacher/teacher_"+num+".png")/
            div
                button.left: i(class="fa fa-angle-double-left" aria-hidden="true")
                button.right: i(class="fa fa-angle-double-right" aria-hidden="true")
            ul.teacher-infos
                each num in teacherNums
                    li: img(src="./img/teacher/teacher_info_"+num+".png")            
        section#contents: img(src="./img/section_6.png")/
        section#prices
            img(src="./img/section_7.png")/
            each url in ["y105_sh_rev_all_et","y106_sh_rev_mainall_et","y106_sh_rev_naall_et","y106_sh_rev_soall_et"]
                a.enter(target="_blank" href="http://www.ehanlin.com.tw/type/ONLINE/id/"+url+"/SalesPlans.html")
        section#courses
            img(src="./img/section_8.png")/
            div
                -
                    var urls = [
                        "/type/ONLINE/id/y105_sh_rev_pc_et/SalesPlans.html", 
                        "/type/ONLINE/id/y105_sh_rev_pc30_et/SalesPlans.html", 
                        "/type/ONLINE/id/y105_sh_rev_en_et/SalesPlans.html",
                        "/type/ONLINE/id/y105_sh_rev_ma_et/SalesPlans.html", 
                        "/type/ONLINE/id/y105_sh_rev_ph_et/SalesPlans.html",
                        "/type/ONLINE/id/y105_sh_rev_ch_et/SalesPlans.html", 
                        "/type/ONLINE/id/y105_sh_rev_bi_et/SalesPlans.html",
                        "/type/ONLINE/id/y105_sh_rev_ea_et/SalesPlans.html", 
                        "/type/ONLINE/id/y105_sh_rev_ge_et/SalesPlans.html",
                        "/type/ONLINE/id/y105_sh_rev_hi_et/SalesPlans.html",
                        "/type/ONLINE/id/y105_sh_rev_cs_et/SalesPlans.html",
                        "/type/ONLINE/id/y106_sh_rev_pc_write_et/SalesPlans.html"]
                each url in urls
                    a.more_course(target="_blank" href=ehanlin+url)
        footer
            img(src="./img/footer.png")/
            a(target="_blank" href=ehanlin+"/106intro.html")
        script(type="text/javascript" src="./js/index.js")