@import "../lib/font-awesome/less/font-awesome.less";
@fa-font-path: "../lib/font-awesome/fonts";

body {
    text-align: center;
    color: #FFFFFF;
    padding-top: 46px;

    > header, > section, > footer {
        display: inline-block;
        width: 980px;
    }

    > header {
        position: fixed;
        top: 0px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 99997;
        text-align: left;
        line-height: 35px;
        padding: 5px 0px;

        .logo {
            vertical-align: middle;
            display: inline-block;
            width: 304px;
            height: 35px;
            background: url(https://www.ehanlin.com.tw/images/ehanlin_logo.png);
        }

        .tel {
            vertical-align: middle;
            display: inline-block;
            color: #FF0000;
            margin-left: 24px;
            font-size: 24px;

            > a {
                color: #FF0000;
                text-decoration: none;
                > i {
                    margin-left: 24px;
                }
            }
        }

        .icons {
            vertical-align: middle;
            display: inline-block;
            float: right;
            
            > a {
                vertical-align: middle;
                display: inline-block;
                background-size: 22px;
                width: 22px;
                height: 22px;
                margin-left: 5px;
            }

            .facebook {
                background-image: url(../img/FB_Logo.png);
            }
            
            .line {
                background-image: url(../img/LINE_Logo.png);
            }
        }
    }

    > nav {
        z-index: 99998;
        position: fixed;
        display: inline-block;
        right: 0;
        top: calc(~"50% - 208px");
        width: 120px;
        float: right;

        > a {
            display: inline-block;
            width: 120px;
            height: 100px;
        }

        .nav-a(@site){
            > a[href="#@{site}"] {
                background-image: url("../img/nav/@{site}.png");
            }
        }

        .nav-a(banner);
        .nav-a(teachers);
        .nav-a(contents);
        .nav-a(prices);

    }

    > section > img {
        width: 100%;
    }

    .cardRotateY() {
        > .front, > .back {
            position: absolute;
            top: 0px;
            right: 0px;
            backface-visibility: hidden;
            transition: all 1s;
        }

        > .front {transform: rotateY(0deg);}
        > .back  {transform: rotateY(180deg);}

        &:hover {
            > .front {transform: rotateY(180deg);}
            > .back  {transform: rotateY(0deg);}
        }        
    }

    .benefits > .card {
        list-style-type: none;
        width: 461px;
        height: 67px;
        display: inline-block;
        position: relative;

        .cardRotateY();
    }

    .advantages {
        list-style-type: none;
        margin-top: -265px;
        line-height: 125px;

        > .card {
            width: 195px;
            height: 195px;
            display: inline-block;
            position: relative;
            transform: rotate(45deg);
            margin-left: 80px;

            > img {
                width: 195px;
            }

            &:first-child {
                margin-left: 180px;
            }

            &:nth-child(3) {
                margin-left: 180px;   
            }

            &:nth-child(3),&:nth-child(4),&:nth-child(5) {
                margin-top: -100px;   
            }

            .cardRotateY();
        }
    }

    #teachers {
        input[name="teacher"] {
            display: none;
        }

        ul {
            padding-left: 0px;
            text-align: center;
            list-style-type: none;
        }

        .teachers > li {
            position: relative;;
            display: inline-block;
            width: 85px;
            opacity: 1.0;
            transition: all 0.3s;

            > span {
                display: inline-block;
                > img {
                    margin-left: calc(~"42.5px - 50%");
                    transition: all 0.3s;
                }                
            }

            &.removing {
                width: 0px;
                opacity: 0.0;
            }

            &.focus {
                transition: all 0.7s ease-in-out;
                width: 160px;
                > span > img {
                    transition: all 0.7s ease-in-out;
                    margin-left: calc(~"80px - 50%");
                }
            }

            &:nth-child(1){ z-index: 80001;}
            &:nth-child(2){ z-index: 80002;}
            &:nth-child(3){ z-index: 80003;}
            &:nth-child(4){ z-index: 80004;}
            &:nth-child(5){z-index: 80010;}
            &:nth-child(6){ z-index: 80009;}
            &:nth-child(7){ z-index: 80008;}
            &:nth-child(8){ z-index: 80007;}
            &:nth-child(9){ z-index: 80006;}
            &:nth-child(10){ z-index: 80005;}
        }

        > div {
            position: relative;
            z-index: 89000;
            top: -170px;
                > button {
                display: inline-block;
                padding: 0px;
                font-size: 64px;
                border-radius: 32px;
                width: 64px;
                height: 64px;
                border: none;
                background-color: rgba(255, 255, 255, 0.8);
                text-align: center;

                &:focus {
                    outline: none;
                }

                > i {
                    vertical-align: top;
                }

                &.left { float: left; }
                &.right { float: right; }
            }

        }

        .teacher-infos > li {
            display: none;
            &:nth-child(5){
                display: block;
            }
        }

        .teacher-radio(@num) {
            #teacher_@{num}:checked ~ .teacher-infos li:nth-child(@{num}) {
                display: block;
            }
        }

        .loop(@counter) when (@counter > 0) {
            .loop((@counter - 1));
            .teacher-radio(@counter);
        }
        .loop(10)
    }

    #prices {
        position: relative;
        .enter {
            display: inline-block;
            background-image: url(../img/enter.png);
            background-repeat: no-repeat;
            width: 224px;
            height: 75px;
            position: absolute;
            cursor: pointer;

            &:nth-child(2), &:nth-child(3){
                top: 350px;
            }
            &:nth-child(4), &:nth-child(5){
                top: 665px;
            }
            &:nth-child(2), &:nth-child(4){
                left: 50px;
            }
            &:nth-child(3), &:nth-child(5){
                left: 515px;
            }
            
        }
    }

    #courses {
        position: relative;
        text-align: left;

        > img {
            width: 80%;
        }

        > div {
            position: absolute;
            display: inline-block;
            width: 240px;
            top: 95px;
            right: 0px;
        }

        .more_course {
            display: inline-block;
            width: 237px;
            height: 51px;            
            background-image: url(../img/more_course.png);
            background-repeat: no-repeat;
            margin-bottom: 42px;
        }
    }

    > footer {
        position: relative;
        > a {
            position: relative;
            display: inline-block;
            width: 239px;
            height: 54px;
            top: -68px;
            background-image: url(../img/more.png);
            background-repeat: no-repeat;
        }
    }

    > #enter-alert {
        width: 0px;
        height: 0px;
        border: none;
        &:focus {
            outline: none;
        }
    }

    > .enter-alert {
        transition: all 0.3s;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 99999;

        > p {
            position: fixed;
            padding: 20px 0px;
            background-color: #f40567;
            font-size: 36px;
            left: 0px;
            right: 0px;
            top: calc(~"50% - 70px");

            > strong {
                color: #fff100;
                margin-left: 10px;
            }
        }
    }

    > #enter-alert:focus + .enter-alert{
        visibility: visible;
        opacity: 1;
    }
}