body {

    text-align: center;
    background: url(https://www.ehanlin.com.tw/images/body_bg.jpg) repeat;
    color: #898989;

    > header, > section, > footer {
        display: inline-block;
        width: 980px;
    }

    > header {
        .logo {
            float: left;
            display: inline-block;
            width: 304px;
            height: 35px;
            background: url(https://www.ehanlin.com.tw/images/ehanlin_logo.png);
        }

        .info {
            display: inline-block;
            float: right;
        }

        .tel {
            display: inline-block;
        }

        .icons {
            display: inline-block;
            
            > a {
                display: inline-block;
                background-size: 22px;
                width: 22px;
                height: 22px;
            }

            .facebook {
                background-image: url(../img/FB_Logo.png);
            }
            
            .line {
                background-image: url(../img/LINE_Logo.png);
            }
        }
    }

    > nav {
        z-index: 99999;
        position: fixed;
        display: inline-block;
        right: 0;
        top: calc(~"50% - 208px");
        width: 120px;
        float: right;

        > a {
            display: inline-block;
            width: 120px;
            height: 100px;
        }

        .nav-a(@site){
            > a[href="#@{site}"] {
                background-image: url("../img/nav/@{site}.png");
            }
        }

        .nav-a(banner);
        .nav-a(teachers);
        .nav-a(contents);
        .nav-a(prices);

    }

    > section > img {
        width: 100%;
    }

    .cardRotateY() {
        > .front, > .back {
            position: absolute;
            top: 0px;
            right: 0px;
            backface-visibility: hidden;
            transition: all 1s;
        }

        > .front {transform: rotateY(0deg);}
        > .back  {transform: rotateY(180deg);}

        &:hover {
            > .front {transform: rotateY(180deg);}
            > .back  {transform: rotateY(0deg);}
        }        
    }

    .benefits > .card {
        list-style-type: none;
        width: 461px;
        height: 67px;
        display: inline-block;
        position: relative;

        .cardRotateY();
    }

    .advantages {
        list-style-type: none;
        margin-top: -265px;
        line-height: 125px;

        > .card {
            width: 195px;
            height: 195px;
            display: inline-block;
            position: relative;
            transform: rotate(45deg);
            margin-left: 80px;

            > img {
                width: 195px;
            }

            &:first-child {
                margin-left: 180px;
            }

            &:nth-child(3) {
                margin-left: 180px;   
            }

            &:nth-child(3),&:nth-child(4),&:nth-child(5) {
                margin-top: -100px;   
            }

            .cardRotateY();
        }
    }

    #teachers {
        input[name="teacher"] {
            display: none;
        }

        ol {
            padding-left: 0px;
            text-align: center;
            list-style-type: none;
        }

        .teachers > li {
            display: inline-block;
            margin-left: -95px;

            &:first-child {
                margin-left: 0px;                
            }
        }

        .teacher-infos > li {
            display: none;
        }

        .teacher-radio(@num) {
            #teacher_@{num}:checked ~ .teacher-infos li:nth-child(@{num}) {
                display: block;
            }
        }

        .loop(@counter) when (@counter > 0) {
            .loop((@counter - 1));
            .teacher-radio(@counter);
        }
        .loop(10)
    }

    #prices {
        position: relative;
        .enter {
            display: inline-block;
            background-image: url(../img/enter.png);
            background-repeat: no-repeat;
            width: 224px;
            height: 75px;
            position: absolute;

            &:nth-child(2), &:nth-child(3){
                top: 350px;
            }
            &:nth-child(4), &:nth-child(5){
                top: 665px;
            }
            &:nth-child(2), &:nth-child(4){
                left: 50px;
            }
            &:nth-child(3), &:nth-child(5){
                left: 515px;
            }
            
        }
    }

    #courses {
        position: relative;
        text-align: left;

        > img {
            width: 80%;
        }

        > div {
            position: absolute;
            display: inline-block;
            width: 240px;
            top: 95px;
            right: 0px;
        }

        .more_course {
            display: inline-block;
            width: 237px;
            height: 51px;            
            background-image: url(../img/more_course.png);
            background-repeat: no-repeat;
            margin-bottom: 42px;
        }
    }

    > footer {
        position: relative;
        > a {
            position: relative;
            display: inline-block;
            width: 239px;
            height: 54px;
            top: -68px;
            background-image: url(../img/more.png);
            background-repeat: no-repeat;
        }
    }
}